.hero {
    width: 100vw;
    background-image: url(/img/mazo-dorado.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    color: white;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}

.hero .container {
    z-index: 2;
    position: relative;
}